<div id='editable_title'>
	<h2 class='list-name'><%= editable @list, :name %></h2>
	<%= editable @list, :permissions, type: :select, source: List::AVAIL_PERMISSIONS, class: 'permissions'  %>
	<noscript><%= link_to glyph(:pencil) + ' Edit', edit_list_path(@list), class: 'edit-link' %></noscript>

</div>

<%= render 'shared/errors', obj: @list %>		
<%= render 'todos/todos_list', todos: @list.todos %>
<%= render 'todos/form', todo: @todo %>