<ul class="nav nav-tabs">
	<%= nav_link 'Blocitoff', root_path, a_class: 'navbar-brand' %>
	
	<% if user_signed_in? %>
		<li><%= nav_link 'My TODOs', todos_path %></li>
	<% end %>

	<%= nav_link 'About', welcome_about_path %>

	<% if user_signed_in? %>
		<li class="navbar-right dropdown">
			<%= link_to '#', "class" => "dropdown-toggle", "data-toggle" => "dropdown", "aria-expanded" => "false" do %>
			  <%= current_user.email %> <span class="caret"/>
			<% end %>

			<ul class="dropdown-menu">
				<%= nav_link "My Account", edit_user_registration_path %>
				<%= nav_link "Log Out", destroy_user_session_path, method: :delete %>
			</ul>
		</li>
	<% else %>
		<%= nav_link 'Log In', new_user_session_path, li_class: 'navbar-right' %>
		<%= nav_link 'Sign Up', new_user_registration_path, li_class: 'navbar-right' %>
	<% end %>
</ul>